#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
    width:100%;
}

body {
    margin: 1em;
}

p {
    margin: 1em auto;
}

.banner{
    background-image: url("/images/banner.jpg");
    background-repeat: no-repeat;
    height:80px;
    display: list-item;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 20px;
    display:none;
}

/*.glyphicon {*/
    /*position: relative;*/
    /*top: 1px;*/
    /*display: inline-block;*/
    /*font-family: 'Glyphicons Halflings';*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*line-height: 1;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
/*}*/


.navbar {
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
    border-bottom: 1px solid #178acc;
    -webkit-filter: none;
    filter: none;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.navbar-default {
    background-color: #2fa4e7;
    border-color: #1995dc;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}