
.footer-icon {
    background: url("/images/logo-nav.png") 0 8px no-repeat;
    display: block;
    height: 56px;
    /* width: 135px; */
    overflow: hidden;
    text-indent: -3000px;
    margin: 0;
    padding: 0;
}

.hero.is-large {
    height: 478px;
    padding-top: 16px;
    text-align: center;
}
.hero {
    position: relative;
    padding: 80px 48px 56px;
    height: 80px;
}
.background-superhero-paper {
    background: url("/images/superhero-paper.png") bottom center no-repeat;
    background-size: 100%;
    background-position: fixed;
}

.hero .hero-logo {
    position: relative;
    padding-top: 224px;
    opacity: 1;
    width: 560px;
    margin: 24px auto 40px auto;
    font-weight: 400;
}
.text-headline, .docs-content h3 {
    margin: 0 0 16px 0;
    font-size: 24px;
    font-weight: 450;
    opacity: .87;
    line-height: 32px;
}

.hero .hero-logo:after {
    content: '';
    background: url("/images/angular.svg") top center no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 224px;
}
.new-task{
    margin: 10px 0;
}
